body {
  width: 100%;
  height: 100%;
  margin: 0;
}

canvas {
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
}
#gui {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px;
  z-index: 10;
  color: white;
}

#toggle-streaks { 
  position: absolute;
  top: 30px;
  right: 0;
  margin: 10px;
}
